@model Books.ViewModel.AuthorsViewModel
@{
    ViewData["Title"] = "Authors";
}


<div class="container">
    <div class="row equal">
        @foreach (var author in Model.Authors)
        {
            @await Html.PartialAsync("_author", author)
        }
    </div>
</div>