@model Books.ViewModel.BooksViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row equal">
        @foreach (var book in Model.Books)
        {
            @await Html.PartialAsync("_book", book)
        }
    </div>
</div>